@charset "utf-8";


#container {
    width: 950px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    /*border: thick solid gray;*/
}

#cima{
    background-color: #3f5fa0;
    text-align: center;
    height: 200px;
    width: 950px;
    float:left;
}

#topNav{
    background-color :#808080;
    height: 50px;
    width:950px;
    float:left;

}

#contenuto{
    background-color: #e6d5d5;
    height:auto;
    width: 950px;
    float:left;
    height:500px;

}

body {
    font-family: Arial;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background-image: url(https://thumbs.dreamstime.com/b/formule-di-fisica-struttura-senza-giunte-lavagna-della-scuola-con-le-e-equazioni-stile-dipinto-mano-144703342.jpg);
    background-repeat: repeat;
    background-position: center top;
   
}

h1{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 300%;
    color: #000000;

}

h2 {
    font-family : 'Times New Roman';
    font-weight: bold;
    color: #000000;
    font-size: 200%;
    margin-left: 5%;
}

#container #topNav .menu{
    margin: 0px;
    list-style-type:none;
    padding-left:100px;
}

#container #topNav .menu li{
    display: block;
    float:left;
}

#container #topNav .menu li a{
    font-family: 'Times New Roman';
    background-color: #f1bcbc;
    font-size: 14px;
    color: #333;
    display: block;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 16px; /* font di 18 facciamo 50 -18=32 32/2 ==16 cosi è perfettamen te centrato*/
    border-right-width: thin;
    border-right-style: solid;
    border-right-color: #fff;
}

#container #topNav .menu li a:hover {
    background-color: #666;
}

#container #topNav .menu .home.active {
    border-left: thin;
    border-left-color: #fff;
    border-left-style: solid;
    background-color: #ccc;
}

p{
    color: #000000;
    font-size: 20px;
    margin-left:5%;
    margin-right:5%;
   text-align: justify;
}
 #pie_pagina{
    background-color: #3f5fa0;
    text-align: center;
    width: 950px;
    height:50px;
    float: left;
}

h3{
    color: #000000;    
}
